@model IEnumerable<FashionVote.Models.Designer>
@{
    ViewData["Title"] = "Designers List";
}

<h1>Designers</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Add Designer</a>
</p>


<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-start" style="width: 70%;">Name</th>
                <th class="text-end" style="width: 30%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var designer in Model)
            {
                <tr>
                    <td class="align-middle text-start">@designer.Name</td>
                    <td class="align-middle text-end">
                        <a asp-action="Details" asp-route-id="@designer.DesignerId" class="btn btn-info btn-sm">View</a>
                        <a asp-action="Edit" asp-route-id="@designer.DesignerId" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@designer.DesignerId" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
